{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<link href="/static/template-extra/home/home.css" rel="stylesheet">
<div style="text-align: center;" class="main">
<div class="fade-in-bottom-1">
    <h1>Ласкаво просимо</h1>
</div>
<div class="fade-in-bottom-2">
    <h1>До SFStudio{%if user.id%},{%else%}!{%endif%}</h1>
</div>
{% if user.id %}
<div class="flicker-in-1 name">
    <h1 id="name">{{user.first}}</h1>
</div>
{% endif %}
</div>
<script src="/static/template-extra/home/home.js"></script>
{% endblock %}